body { background-color: ;
    font-family: ;
    font-size: px;
    color:;
    margin:0px;
    padding-bottom:px;
    scrollbar-face-color:;
    scrollbar-highlight-color:;
    scrollbar-3dlight-color:;
    scrollbar-darkshadow-color:;
    scrollbar-shadow-color:;
    scrollbar-arrow-color:;
    scrollbar-track-color:;